.informational
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flight-container 
{
    max-width: 70%;
    margin: 20px auto;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.legend
{
    max-width: 30%;
}

.legend-box {
    
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #333;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.flight-header 
{
    font-size: 24px;
    color: #333;
}
.details, .seating-plan 
{
    margin-top: 12px;
}
.details h4 
{
    margin: 4px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.booking
{
    display: flex;
    flex-direction: row;
}
.seating-plan 
{
    display: grid;
    grid-template-columns: repeat(3, 50px) 20px repeat(3, 50px); /* Add a gap column after 3 columns */
    gap: 10px; /* Add consistent spacing between rows and columns */
}
.seating-plan .seat:nth-child(3n)
{
    -right: 10px;
}
.seat 
{
    text-align: center;
}
.seat input[type="checkbox"] 
{
    margin: 0;
}
.seat label 
{
    display: block;
    margin-top: 4px;
    font-size: 12px;
}

.seat-first
{
    background-color: aquamarine;
}

.seat-window
{
    background-color: cornflowerblue;
}

.seat-free
{
    background-color: green;
}

.seat-taken
{
    background-color: gray;
}

.seat-selected
{
    background-color: lightyellow;
    border: 2px solid gold;
}

.seat-suggested
{
    background-color: yellow;
}

.seat-suggested.seat-selected 
{
    background-color: lightyellow;
    border: 2px solid gold;
}


.purchasecontrols
{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}

#total-price-label {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
